face_clustering/.vscode/
face_clustering/face_detector/dsfd_inference/dsfd/weights/*
face_clustering/all_face_bounding_boxes.csv
face_clustering/encodings.pickle

age_classification/.vscode/
age_classification/face_detector/dsfd_inference/dsfd/weights/*
age_classification/training_images/three_class_set/train_images/12_or_less/*
age_classification/training_images/three_class_set/train_images/13_to_17/*
age_classification/training_images/three_class_set/train_images/18_and_above/*
age_classification/training_images/three_class_set/valid_images/12_or_less/*
age_classification/training_images/three_class_set/valid_images/13_to_17/*
age_classification/training_images/three_class_set/valid_images/18_and_above/*
age_classification/test_images/*
age_classification/three_class_trained_age_recognition_model.pth